<!-- WIP -->

<div class="content-section">
        <div class="content-container">
          <div style="margin-top: 10px;">
            <h1 id="edit-title">Edit Reservation</h1>
          </div>
          <div class="edit-reserve">
            <h2>Selected:</h2>
            <div class="chosen-reservation">
              <!-- Lab tech view -->
            {{#if (eq user.role 'labtech')}}
              <div class="card reserve-item" id="labtech-view">
                <div class="row g-0" style="align-items: center;">
                  <div class="col-pfp">
                    <img class="mr-3 list-img" src="{{reservation.user.profilePic}}" alt="{{reservation.user.name}}">
                  </div>
                  <div class="col res-details-container">
                    <div class="card-body reserve-details">
                      <h5 class="card-title"><strong>{{reservation.user.name}}</strong></h5>
                      <p class="card-text">Room {{reservation.lab.name}}</p>
                    </div>
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">{{formatDate reservation.date}}</li>
                          <li class="list-group-item">{{reservation.startTime}} - {{reservation.endTime}}</li>
                          <li class="list-group-item">Seat {{reservation.seat.seatNumber}}</li>
                      </ul>
                  </div>
                </div>
              </div>
              <!-- Student view -->
            {{else}}
              <div class="card reserve-item" id="student-view">
                <div class="card-body">
                  <h5 class="card-title"><strong>{{reservation.user.name}}</strong></h5>
                  <p class="card-text">Room {{reservation.lab.name}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{formatDate reservation.date}}</li>
                  <li class="list-group-item">{{reservation.startTime}} - {{reservation.endTime}}</li>
                  <li class="list-group-item">Seat {{reservation.seat.seatNumber}}</li>
                </ul>
              </div>
            </div>
            {{/if}}
    
            <div class="edit-details">
              <form id="details">
                <div class="form-group options">
                  <label for="building" class="form-label">Building</label>
                  <select class="form-select mb-3" id="building" required>
                      <option value="">Select Building</option>
                      {{#if labs.length}} <!-- Check if labs array is not empty -->
                          {{#each labs}}
                              <option value="{{this.building}}">{{this.building}}</option>
                          {{/each}}
                      {{/if}}
                  </select>
                </div>

                  <div class="form-group options">
                      <label for="lab" class="form-label">Lab</label>
                      <select class="form-select mb-3" id="lab" required disabled>
                          <option value="">Select Lab</option>
                      </select>
                  </div>

                    <div class="mb-3 options">
                      <label for="date" class="form-label">Reserve Date</label>
                      <input type="date" class="form-control" id="date" required>
                    </div>

                    <div class="buttons">
                        <button type="button" id="view-avail" class="btn btn-primary" data-anonymous="{{#if reservation.isAnonymous}}true{{else}}false{{/if}}" disabled>Check Availability</button>
                        {{#if (eq user.role 'labtech')}}
                        <a href="/reservation-list">
                        {{else}}
                        <a href="/profile">
                        {{/if}}
                        <button type="button" class="btn btn-secondary" id="cancel">Cancel</button>
                        </a>
                    </div>
              </form>
            </div>
          </div>

            <div id="edit-modal" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="edit-modal-label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="edit-modal-label">Edit Details</h5>
                        </div>
                        <form id="more-details">
                            <div class="modal-body">

                                <div class="form-group options">
                                    <label for="seat" class="form-label">Seat No.</label>
                                    <select class="form-select mb-3" id="seat" required>
                                        <option value="">Select Seat</option>
                                    </select>
                                </div>

                                <div class="form-group options">
                                    <label for="startTime" class="form-label">Start Time</label>
                                    <select class="form-select mb-3" id="startTime" required>
                                        <option value="">Select Time</option>
                                    </select>
                                </div>
                                <div class="mb-3 options">
                                    <label for="endTime" class="form-label">End Time</label>
                                    <select class="form-select mb-3" id="endTime" disabled required>
                                        <option value="">Select Time</option>
                                    </select>
                                </div>
                                {{#if (eq user.role 'student')}}
                                    <label for="anonymous-checkbox">Make Anonymous</label>
                                    <input type="checkbox" id="anonymous-checkbox">
                                {{/if}}
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" id="confirm-reserve" data-id="{{reservation._id}}">Save Reservation</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="failed-modal" tabindex="-1" aria-labelledby="failed-modal-label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id=failed-modal-label">Lab Not Available!</h5>
                        </div>
                        <div class="modal-body text-center">
                            Selected Lab is not available.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary no-confirm" data-bs-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="edit-success" tabindex="-1" aria-labelledby="edit-success-label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="edit-success-label">Edit Success!</h5>
                        </div>
                        <div class="modal-body text-center">
                            Reservation edited successfully.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary no-confirm" data-bs-dismiss="modal" id="success-ok">OK</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="edit-failed" tabindex="-1" aria-labelledby="edit-failed-label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="edit-failed-label">Edit Failed!</h5>
                        </div>
                        <div class="modal-body text-center">
                            Reservation edited failed.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary no-confirm" data-bs-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="overlap" tabindex="-1" aria-labelledby="overlap-label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="overlap-label">Edit Failed!</h5>
                        </div>
                        <div class="modal-body text-center">
                            An Existing Reservation overlaps with this Reservation. Please change the time schedule and try again.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary no-confirm" data-bs-dismiss="modal" id="overlap-ok">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 </div>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const labs = {{{json labs}}}
    $("#building").val(urlParams.get("building") || "").change(function () {
        let building = $(this).val();
        let itemsDropdown = $("#lab");

        if (building && labs.length) {
            itemsDropdown.empty();
            itemsDropdown.append(new Option("Select Lab", ""))

            $.each(labs, function (index, item) {
                if (building === item.building) {
                    itemsDropdown.append($('<option>', {
                        value: item.name,
                        text: item.name
                    }));
                }
            });
            itemsDropdown.prop("disabled", false);
        } else {
            $("#lab").val("")
            itemsDropdown.prop("disabled", true);
        }
    });

    $("#startTime").val(urlParams.get("seat") || "").change(function () {
        let startTime = $(this).val();
        let endDropdown = $("#endTime");

        if(startTime){
            endDropdown.empty();
            endDropdown.append(new Option("Select Time", ""))

            endDropdown.prop("disabled", false);
        } else {
            endDropdown.val("")
            endDropdown.prop("disabled", true);
        }
    })
</script>