<div class="content-section">
    <div style="margin-top: 10px;">
        <h1 id="reservation-list-title">Reservation List</h1>
    </div>

    <div class="inner-section">
        <div class="list-details">
            <form id="details">
                <div class="form-group options">
                    <label for="building" class="form-label">Building</label>
                    <select class="form-select mb-3" id="building" required>
                        <option value="">Select...</option>
                        {{#if labs.length}} <!-- Check if labs array is not empty -->
                            {{#each labs}}
                                <option value="{{this.building}}">{{this.building}}</option>
                            {{/each}}
                        {{/if}}
                    </select>
                </div>

                <div class="form-group options">
                    <label for="lab" class="form-label">Lab</label>
                    <select class="form-select mb-3" id="lab" required disabled>
                        <option value="">Select Lab...</option>
                    </select>
                </div>

                <div class="mb-3 options">
                    <label for="date" class="form-label">Reserve Date</label>
                    <input type="date" class="form-control" id="date" required>
                </div>

                <div class="buttons">
                    <button type="submit" id="view-list" class="btn btn-primary">Filter</button><br/>
                </div>
            </form>
        </div>

        <div class="list-container overflow-y-auto full-vh" >
            {{#if reservations.length}}
                {{#each reservations}}
                    <div class="card reserve-item">
                        <div class ="row g-0" style="align-items: center;">
                            <div class="col-pfp">
                                <!-- idk if im doing this correctly -->
                                <img class="mr-3 col-pfp" src="{{this.user.profilePic}}" alt="{{this.user.name}}">
                            </div>
                            <div class="col res-details-container">
                                <div class="card-body reserve-details">
                                    <h5 class="card-title"><strong>{{this.user.name}}</strong></h5>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">{{formatDate this.date}}<br/> {{this.startTime}} - {{this.endTime}}</li>
                                        <li class="list-group-item">{{this.lab.name}}, Seat {{this.seat.seatNumber}}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-buttons">
                                <form method="POST" action="/edit-reservation">
                                    <input type="hidden" name="id" value="{{this._id}}">
                                    <button type="submit" class="edit-reserve btn">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                    </button>
                                </form>
                                <button class="btn submit-delete" data-id="{{this._id}}"><i class="fa-solid fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <div class="empty-list">
                    <p><strong>No Reservations Found!</strong></p>
                </div>
            {{/if}}
        </div>
        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="confirm-delete-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirm-delete-label">Confirm Deletion</h5>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this reservation?
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="confirm-btn">Yes</button>
                        <button type="button" class="btn btn-secondary no-confirm" data-bs-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="delete-success" tabindex="-1" aria-labelledby="delete-success-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="delete-success-label">Success</h5>
                    </div>
                    <div class="modal-body text-center">
                        Reservation deleted successfully.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="delete-fail" tabindex="-1" aria-labelledby="delete-fail-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="delete-fail-label">Failed</h5>
                    </div>
                    <div class="modal-body text-center">
                        Reservation deletion failed.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary no-confirm" data-bs-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const labs = {{{json labs}}}
    $("#building").val(urlParams.get("building") || "").change(function () {
        let building = $(this).val();
        let $itemsDropdown = $("#lab");

        if (building && labs.length) {
            $itemsDropdown.empty();

            $.each(labs, function (index, item) {
                if (building === item.building) {
                    $itemsDropdown.append($('<option>', {
                        value: item.name,
                        text: item.name
                    }));
                }
            });
            $itemsDropdown.prop("disabled", false);
        } else {
            $("#lab").val("")
            $itemsDropdown.prop("disabled", true);
        }
    });
</script>
